body{
    background-color: rgba(78, 14, 138, 0.781);
    font: normal 15pt Verdana;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 60px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.253);
}

div{
    text-align: center;
}
div#msg{
    margin-bottom: 10px;
}

img#foto{
    width: 400px;
    height: 450px;
    border-radius: 30px;
    margin-top: 20px;
}

input#txtn{
    width: 200px;
    height: 25px;
    font-size: 15pt;
}

input#gerarTabuada{
    width: 150px;
    height: 30px;
    font-size: 15pt;
}

select#seltab{
    width: 110px;
    height: 216px;
    font-size: 12pt;
    padding: 6px;
    border-color: rgba(78, 14, 138, 0.781);
    box-shadow: 3px 2px 18px rgba(78, 14, 138, 0.781);
}

footer{
    color: white;
    text-align: center;
    margin-top: 194px;
}

.link-rodape{
    color: white;
}